<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cuiot.dmp.baseconfig.flow.mapper.TbFlowConfigMapper">
  <resultMap id="BaseResultMap" type="cn.cuiot.dmp.baseconfig.flow.entity.TbFlowConfig">
    <!--@mbg.generated-->
    <!--@Table tb_flow_config-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="business_type_id" jdbcType="BIGINT" property="businessTypeId" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="process" jdbcType="LONGVARCHAR" property="process" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="notify_setting" jdbcType="LONGVARCHAR" property="notifySetting" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="common_config_dto" jdbcType="VARCHAR" property="commonConfigDto" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="company_id" jdbcType="BIGINT" property="companyId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="BIGINT" property="updateUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="BIGINT" property="createUser" />
    <result column="deleted" jdbcType="TINYINT" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, business_type_id, org_id, `process`, logo, notify_setting, remark, common_config_dto, 
    `status`, company_id, update_time, update_user, create_time, create_user, deleted
  </sql>
</mapper>