<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cuiot.dmp.baseconfig.flow.mapper.WorkInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.cuiot.dmp.baseconfig.flow.entity.WorkInfoEntity">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="business_type" property="businessType" />
        <result column="org_id" property="orgId" />
        <result column="work_name" property="workName" />
        <result column="work_souce" property="workSouce" />
        <result column="create_user" property="createUser" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_time,
        create_user,
        id, business_type, org, work_name, work_souce, user_id, status
    </sql>
    <sql id="queryWorkOrderInfoSql">
        DISTINCT t1.id ,t1.business_type,t1.org_id as org,t1.work_name,t1.work_souce,t1.status,t1.create_time,t1.create_user,t1.proc_inst_id,t1.company_id,t1.org_ids as deptIds

    </sql>
    <select id="queryWorkOrderInfo" resultType="cn.cuiot.dmp.baseconfig.flow.dto.work.WorkInfoDto">
        select  <include refid="queryWorkOrderInfoSql"/>
            from tb_work_info t1 left join  (select business_type,proc_inst_id from tb_work_business_type_info WHERE business_type=1 group by proc_inst_id ,business_type) t2 on t1.proc_inst_id = t2.proc_inst_id
            left join tb_work_org_rel t3 on t1.id = t3.work_id
          <include refid="queryWorkOrderInfoCondition"/>
    </select>
    <sql id="queryWorkOrderInfoCondition">
        <where>
            <if test="query.id !=null">
                and t1.id like concat('%',#{query.id},'%')
            </if>
            <if test="query.businessType !=null">
                and t1.business_type = #{query.businessType}
            </if>
            <if test="query.status !=null">
                and t1.status = #{query.status}
            </if>
            <if test="query.createUser !=null">
                and t1.create_user =#{query.createUser}
            </if>
            <if test="query.workSouce !=null ">
                and t1.work_souce =#{query.workSouce}
            </if>
            <if test="query.timeOut !=null and query.timeOut==1">
                and t2.business_type =#{query.timeOut}
            </if>
            <if test="query.workName !=null">
                and t1.work_name like concat('%',#{query.workName},'%')
            </if>
            <if test="query.orgIds !=null">
                and t3.org_id in
                <foreach collection="query.orgIds" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            order by t1.create_time desc
        </where>
    </sql>

    <select id="queryWorkOrderDetailInfo" resultType="cn.cuiot.dmp.baseconfig.flow.dto.work.WorkInfoDto">
        select  <include refid="queryWorkOrderInfoSql"/>
            from tb_work_info t1
            where t1.proc_inst_id = #{query.procInstId}
    </select>

    <sql id="queryMyNotApprovalSql">
        DISTINCT  t1.id ,t1.proc_inst_id,t1.business_type,t1.org_id,t1.work_name,t1.work_souce,t1.create_time,t1.create_user as userId,t1.company_id, t1.status as state, t1.org_ids,
            t2.ID_ as task_id ,t2.PROC_DEF_ID_ as procDefId ,t2.TASK_DEF_KEY_ as taskDefKey
    </sql>
    <select id="queryMyNotApproval" resultType="cn.cuiot.dmp.baseconfig.flow.dto.approval.MyApprovalResultDto">
        select
            <include refid="queryMyNotApprovalSql"/>
        from tb_work_info t1 , act_ru_task t2 , tb_node_type t3 ,tb_work_org_rel t4
            <include refid="queryMyNotApprovalCondition"/>
    </select>
    <sql id="queryMyNotApprovalCondition">
        <where>
            <if test="query.assignee !=null and query.assignee !=''">
               and t1.proc_inst_id = t2.PROC_INST_ID_ and t2.PROC_INST_ID_ = t3.proc_inst_id and t2.TASK_DEF_KEY_ = t3.node_id and t2.ASSIGNEE_ = #{query.assignee} and t3.node_type = 'APPROVAL'
               and t1.id = t4.work_id
            </if>
            <if test="query.businessType !=null">
                and t1.business_type = #{query.businessType}
            </if>
            <if test="query.orgId !=null">
                and t4.org_id = #{query.orgId}
            </if>
            <if test="query.workName !=null and query.workName !=''">
                and t1.work_name like concat('%',#{query.workName},'%')
            </if>
            <if test="query.createUser !=null">
                and t1.create_user = #{query.createUser}
            </if>
            <if test="query.startTime !=null">
                and t1.create_time >= #{query.startTime} and t1.create_time <![CDATA[<=]]> #{query.endTime}
            </if>
            <if test="query.procInstId !=null">
                and t1.proc_inst_id like concat('%',#{query.procInstId},'%')
            </if>
            <if test="query.makeUserId !=null">
                and t2.user_id = #{query.makeUserId}
            </if>
            order by t1.create_time desc
        </where>
    </sql>
    <sql id="queryMyApprovalSql">
        DISTINCT t1.id,t1.proc_inst_id, t1.create_user as userId, t1.status, t1.work_souce, t1.work_name,  t1.org_id, t1.business_type
            ,t1.status as state, t1.org_ids,t1.create_time  ,t2.END_TIME_ as entTime
    </sql>
    <select id="queryMyApproval" resultType="cn.cuiot.dmp.baseconfig.flow.dto.approval.MyApprovalResultDto">
        select
            <include refid="queryMyApprovalSql"/>
        from  tb_work_info t1 , act_hi_taskinst t2 ,tb_node_type t3 , tb_work_org_rel t4
        <include refid="queryMyApprovalSqlCondition"/>
    </select>

    <sql id="queryMyApprovalSqlCondition">
        <where>
            <if test="query.assignee !=null and query.assignee !=''">
                and t2.ASSIGNEE_ = #{query.assignee} and t1.proc_inst_id = t2.PROC_INST_ID_ and t2.TASK_DEF_KEY_ = t3.node_id and t2.PROC_INST_ID_ = t3.proc_inst_id  and t3.node_type = 'APPROVAL'
            </if>
            <if test="query.businessType !=null">
                and t1.business_type = #{query.businessType}
            </if>
            <if test="query.orgId !=null">
                and t4.org_id = #{query.orgId}
            </if>
            <if test="query.workName !=null and query.workName !=''">
                and t1.work_name like concat('%',#{query.workName},'%')
            </if>
            <if test="query.createUser !=null">
                and t1.create_user = #{query.createUser}
            </if>
            <if test="query.startTime !=null">
                and t1.create_time >= #{query.startTime} and t1.create_time <![CDATA[<=]]> #{query.endTime}
            </if>
            <if test="query.procInstId !=null">
                and t1.proc_inst_id like concat('%',#{query.procInstId},'%')
            </if>
            <if test="query.makeUserId !=null">
                and t2.user_id = #{query.makeUserId}
            </if>
            order by t1.create_time desc
        </where>

    </sql>

    <sql id="queryMakeApprovalSql">
       DISTINCT t1.id, t1.proc_inst_id,t1.business_type,t1.org_id,t1.work_name,t1.work_souce,t1.status,t1.create_time,t1.status as state, t1.org_ids,t2.user_id
    </sql>
    <select id="queryMakeApproval" resultType="cn.cuiot.dmp.baseconfig.flow.dto.approval.MyApprovalResultDto">
        select
            <include refid="queryMakeApprovalSql"/>
        from tb_work_info t1 left JOIN tb_flow_cc t2 on t1.proc_inst_id = t2.process_instance_id left join tb_work_org_rel t3 on t1.id = t3.work_id
        <include refid="queryMakeApprovalSqlCondition"/>
    </select>

    <sql id="queryMakeApprovalSqlCondition">
        <where>
            <if test="query.assignee !=null and query.assignee !=''">
                and t2.ASSIGNEE_ = #{query.assignee}
            </if>
            <if test="query.businessType !=null">
                and t1.business_type = #{query.businessType}
            </if>
            <if test="query.orgId !=null">
                and t3.org_id = #{query.orgId}
            </if>
            <if test="query.workName !=null and query.workName !=''">
                and t1.work_name like concat('%',#{query.workName},'%')
            </if>
            <if test="query.createUser !=null">
                and t1.create_user = #{query.createUser}
            </if>
            <if test="query.startTime !=null">
                and t1.create_time >= #{query.startTime} and t1.create_time <![CDATA[<=]]> #{query.endTime}
            </if>
            <if test="query.procInstId !=null">
                and t1.proc_inst_id like concat('%',#{query.procInstId},'%')
            </if>
            <if test="query.makeUserId !=null">
                and t2.user_id = #{query.makeUserId}
            </if>
            order by  t1.create_time desc
        </where>
    </sql>

    <sql id="queryMySubmitWorkInfo">
        DISTINCT t1.id,  t1.proc_inst_id,t1.business_type,t1.org_id,t1.work_name,t1.work_souce,t1.status, t1.create_time, t1.create_user ,t1.org_ids
    </sql>
    <select id="queryMySubmitWorkInfo" resultType="cn.cuiot.dmp.baseconfig.flow.entity.WorkInfoEntity">
        select
        <include refid="queryMySubmitWorkInfo"/>
        from tb_work_info t1 left join tb_work_org_rel t2 on t1.id = t2.work_id
        <include refid="queryMySubmitWorkInfoContidition"/>
    </select>
    <sql id="queryMySubmitWorkInfoContidition">
        <where>
            <if test="query.businessType !=null">
                and t1.business_type = #{query.businessType}
            </if>
            <if test="query.orgId !=null">
                and t2.org_id = #{query.orgId}
            </if>
            <if test="query.workName !=null and query.workName !=''">
                and t1.work_name like concat('%',#{query.workName},'%')
            </if>
            <if test="query.createUser !=null">
                and t1.create_user = #{query.createUser}
            </if>
            <if test="query.startTime !=null">
                and t1.create_time >= #{query.startTime} and t1.create_time <![CDATA[<=]]> #{query.endTime}
            </if>
            <if test="query.procInstId !=null">
                and t1.proc_inst_id like concat('%',#{query.procInstId},'%')
            </if>
        </where>
    </sql>
</mapper>
