<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cuiot.dmp.externalapi.service.mapper.PersonGroupRelationMapper">
  <resultMap id="BaseResultMap" type="cn.cuiot.dmp.externalapi.service.entity.PersonGroupRelationEntity">
    <!--@mbg.generated-->
    <!--@Table tb_person_group_relation-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="business_type" jdbcType="TINYINT" property="businessType" />
    <result column="data_id" jdbcType="BIGINT" property="dataId" />
    <result column="person_group_id" jdbcType="BIGINT" property="personGroupId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="BIGINT" property="updateUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="BIGINT" property="createUser" />
    <result column="deleted" jdbcType="BOOLEAN" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, business_type, data_id, person_group_id, update_time, update_user, create_time,
    create_user, deleted
  </sql>

    <select id="isExistRelation" resultType="boolean">
        SELECT EXISTS(
        SELECT 1 FROM tb_person_group_relation
        <where>
            person_group_id = #{personGroupId}
            <if test="businessType != null">
                AND business_type = #{businessType}
            </if>
        </where>
        ) AS exists_result;
    </select>
</mapper>