<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cuiot.dmp.externalapi.service.mapper.video.VideoDeviceMapper">

    <select id="queryVideoInfoPage" resultType="cn.cuiot.dmp.externalapi.service.vo.video.VideoPageVo">
        select
            distinct t1.id as id ,
            t1.device_id as device_id ,
            t1.device_name as device_name,
            t1.device_type as device_type,
            t1.state  as state,
            t3.flv  as flv,
            t3.hls as hls
        from
            tb_video_device t1
                left join tb_building_archives t2 on
                t1.building_id = t2.id
                left join tb_video_play t3 on
                t1.device_id = t3.device_id
        <include refid="videCondition"/>
    </select>

    <select id="queryVideoInfoCount" resultType="java.lang.Long">
        select
            count(distinct t1.id)
        from
        tb_video_device t1
        left join tb_building_archives t2 on
        t1.building_id = t2.id
        left join tb_video_play t3 on
        t1.device_id = t3.device_id
        <include refid="videCondition"/>

    </select>

    <sql id="videCondition">
        <where>
            t1.deleted = 0
            <if test="params.state !=null and params.state !=''">
                and t1.state = #{params.state}
            </if>


            <if test="params.companyId !=null and params.companyId !=''">
                and t1.company_id = #{params.companyId}
            </if>


            <if test="params.loupanIds !=null and params.loupanIds.size()>0">
                and  t1.building_id in
                <foreach collection="params.loupanIds" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>

            <if test="params.departmentIdList !=null and params.departmentIdList.size()>0">
                and  t2.department_id in
                <foreach collection="params.departmentIdList" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>

        </where>
    </sql>

</mapper>