<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cuiot.dmp.lease.mapper.charge.ChargeCollectionRecordMapper">

  <select id="getStatistics" parameterType="cn.cuiot.dmp.lease.dto.charge.ChargeCollectionRecordStatisticsQuery"
          resultType="cn.cuiot.dmp.lease.dto.charge.ChargeCollectionRecordStatisticsDto">
    SELECT
    customer_user_id, MAX(create_time) lastNoticeTime, COUNT(1) totalNoticeNum
    FROM
    tb_charge_collection_record
    <where>
      deleted = 0
      <if test="params.companyId != null">
        AND company_id = #{params.companyId}
      </if>
      <if test="params.customerUserIds != null and params.customerUserIds.size() > 0">
        AND customer_user_id IN
        (
        <foreach collection="params.customerUserIds" index="index" item="item" separator=",">
          #{item}
        </foreach>
        )
      </if>
    </where>
    GROUP BY customer_user_id
  </select>

  <select id="record" parameterType="cn.cuiot.dmp.lease.dto.charge.ChargeCollectionManageRecordQuery"
          resultType="cn.cuiot.dmp.lease.vo.ChargeCollectionRecordVo">
    SELECT
    id,
    `channel`,
    create_time `date`,
    type,
    create_user createUser
    FROM
    tb_charge_collection_record
    <where>
      deleted = 0
      <if test="params.companyId != null">
        AND company_id = #{params.companyId}
      </if>
      <if test="params.customerUserId != null">
        AND customer_user_id = #{params.customerUserId}
      </if>
      <if test="params.beginTime != null">
        AND create_time <![CDATA[>=]]> CONCAT(#{params.beginTime},' ','00:00:00')
      </if>
      <if test="params.endTime != null">
        AND create_time <![CDATA[<=]]> CONCAT(#{params.endTime},' ','23:59:59')
      </if>
    </where>
    ORDER BY create_time DESC
  </select>
</mapper>