<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cuiot.dmp.lease.mapper.charge.TbChargeReceivedMapper">
  <resultMap id="BaseResultMap" type="cn.cuiot.dmp.lease.entity.charge.TbChargeReceived">
    <!--@mbg.generated-->
    <!--@Table tb_charge_received-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="charge_id" jdbcType="BIGINT" property="chargeId" />
    <result column="receivable_amount_received" jdbcType="INTEGER" property="receivableAmountReceived" />
    <result column="liquidated_damages_need" jdbcType="INTEGER" property="liquidatedDamagesNeed" />
    <result column="liquidated_damages_received" jdbcType="INTEGER" property="liquidatedDamagesReceived" />
    <result column="liquidated_damages_tax" jdbcType="INTEGER" property="liquidatedDamagesTax" />
    <result column="liquidated_damages_not_tax" jdbcType="INTEGER" property="liquidatedDamagesNotTax" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="BIGINT" property="createUser" />
    <result column="total_received" jdbcType="INTEGER" property="totalReceived" />
    <result column="only_principal" jdbcType="TINYINT" property="onlyPrincipal" />
    <result column="transaction_mode" jdbcType="BIGINT" property="transactionMode" />
    <result column="account_bank" jdbcType="VARCHAR" property="accountBank" />
    <result column="account_number" jdbcType="VARCHAR" property="accountNumber" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="customer_user_id" jdbcType="BIGINT" property="customerUserId" />
    <result column="total_owe" jdbcType="INTEGER" property="totalOwe" />
    <result column="liquidated_damages_rate" jdbcType="DECIMAL" property="liquidatedDamagesRate" />
    <result column="house_id" jdbcType="BIGINT" property="houseId" />
    <result column="charge_item_id" jdbcType="BIGINT" property="chargeItemId" />
    <result column="ownership_period_begin" jdbcType="DATE" property="ownershipPeriodBegin" />
    <result column="ownership_period_end" jdbcType="DATE" property="ownershipPeriodEnd" />
    <result column="company_id" jdbcType="BIGINT" property="companyId" />

  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, charge_id, receivable_amount_received, liquidated_damages_need, liquidated_damages_received, 
    liquidated_damages_tax, liquidated_damages_not_tax, create_time, create_user, total_received, 
    only_principal, transaction_mode, account_bank, account_number, remark, customer_user_id, 
    total_owe,liquidated_damages_rate,house_id,charge_item_id,ownership_period_begin,ownership_period_end,company_id
  </sql>

<!--auto generated by MybatisCodeHelper on 2024-06-13-->
  <insert id="insertList">
    INSERT INTO tb_charge_received(
    id,
    charge_id,
    receivable_amount_received,
    liquidated_damages_need,
    liquidated_damages_received,
    liquidated_damages_tax,
    liquidated_damages_not_tax,
    create_time,
    create_user,
    total_received,
    only_principal,
    transaction_mode,
    account_bank,
    account_number,
    remark,
    customer_user_id,
    total_owe,
    liquidated_damages_rate,
    company_id,
    house_id,
    charge_item_id,
    ownership_period_begin,
    ownership_period_end
    )VALUES
    <foreach collection="list" item="element" index="index" separator=",">
      (
      #{element.id,jdbcType=BIGINT},
      #{element.chargeId,jdbcType=BIGINT},
      #{element.receivableAmountReceived,jdbcType=INTEGER},
      #{element.liquidatedDamagesNeed,jdbcType=INTEGER},
      #{element.liquidatedDamagesReceived,jdbcType=INTEGER},
      #{element.liquidatedDamagesTax,jdbcType=INTEGER},
      #{element.liquidatedDamagesNotTax,jdbcType=INTEGER},
      #{element.createTime,jdbcType=TIMESTAMP},
      #{element.createUser,jdbcType=BIGINT},
      #{element.totalReceived,jdbcType=INTEGER},
      #{element.onlyPrincipal,jdbcType=TINYINT},
      #{element.transactionMode,jdbcType=BIGINT},
      #{element.accountBank,jdbcType=VARCHAR},
      #{element.accountNumber,jdbcType=VARCHAR},
      #{element.remark,jdbcType=VARCHAR},
      #{element.customerUserId,jdbcType=BIGINT},
      #{element.totalOwe,jdbcType=INTEGER},
      #{element.liquidatedDamagesRate,jdbcType=DECIMAL},
      #{element.companyId,jdbcType=BIGINT},
      #{element.houseId,jdbcType=BIGINT},
      #{element.chargeItemId,jdbcType=BIGINT},
      #{element.ownershipPeriodBegin,jdbcType=DATE},
      #{element.ownershipPeriodEnd,jdbcType=DATE}
      )
    </foreach>
  </insert>
</mapper>