<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cuiot.dmp.lease.mapper.TbContractIntentionMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.cuiot.dmp.lease.entity.TbContractIntentionEntity">
        <result column="id" property="id"/>
        <result column="contract_no" property="contractNo"/>
        <result column="contract_lease_id" property="contractLeaseId"/>
        <result column="name" property="name"/>
        <result column="cantract_date" property="cantractDate"/>
        <result column="begin_date" property="beginDate"/>
        <result column="end_date" property="endDate"/>
        <result column="follow_up" property="followUp"/>
        <result column="client" property="client"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="status" property="status"/>
        <result column="deleted" property="deleted"/>
        <result column="contract_status" property="contractStatus"/>
        <result column="audit_status" property="auditStatus"/>
        <result column="label" property="label"/>
        <result column="customer_name" property="clientName"/>
        <result column="followUpName" property="followUpName"/>
        <result column="contact_phone" property="clientPhone"/>
        <collection property="moneyList"
                    select="cn.cuiot.dmp.lease.mapper.TbContractIntentionBindInfoMapper.queryMoneyInfoByIntentionId"
                    column="id">
        </collection>
        <collection property="backEntity"
                    select="cn.cuiot.dmp.lease.mapper.TbContractCancelMapper.selectByNo"
                    column="contract_no">
        </collection>
    </resultMap>

    <select id="selectById" resultMap="BaseResultMap">
        select ci.*, c.customer_name customer_name,u.name followUpName,c.contact_phone
        from tb_contract_intention ci
                     left join user u on ci.follow_up = u.id
                     left join tb_customer c on ci.client = c.id
        where ci.id = #{id}
    </select>

    <select id="list" resultMap="BaseResultMap" parameterType="cn.cuiot.dmp.lease.entity.TbContractIntentionEntity">
        select
        <include refid="Base_Column_List"/>
        from tb_contract_intention ci
        left join user u on ci.follow_up = u.id
        left join tb_customer c on ci.client = c.id
        <where>
            <include refid="dynamic_where"/>
        </where>
    </select>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ci.id,
        ci.contract_no,contract_lease_id,
        ci.name,
        ci.cantract_date,
        ci.begin_date,
        ci.end_date,
        ci.follow_up,
        ci.client,
        ci.remark,
        ci.create_time,
        ci.update_time,
        ci.create_user,
        ci.update_user,
        ci.status,
        ci.deleted,
        ci.contract_status,ci.audit_status,ci.label,c.customer_name,u.name followUpName,c.contact_phone
    </sql>

    <sql id="dynamic_where">
        <if test="params != null">
            <if test="params.id != null">
                and ci.id = #{params.id}
            </if>
            <if test="params.contractLeaseId != null">
                and ci.contract_lease_id = #{params.contractLeaseId}
            </if>
            <if test="params.contractNo != null and params.contractNo.trim() != ''">
                and ci.contract_no like CONCAT('%','${params.contractNo}','%' )
            </if>
            <if test="params.label != null and params.label.trim() != ''">
                and ci.label like CONCAT('%','${params.label}','%' )
            </if>
            <if test="params.name != null and params.name.trim() != ''">
                and ci.name like CONCAT('%','${params.name}','%' )
            </if>
            <if test="params.cantractDate != null">
                <!--  and  cantract_date between #{params.beginDate} and #{params.endDate}  -->
                and ci.cantract_date = #{params.cantractDate}
            </if>
            <if test="params.beginDate != null">
                <!--  and  begin_date between #{params.beginDate} and #{params.endDate}  -->
                and ci.begin_date = #{params.beginDate}
            </if>
            <if test="params.endDate != null">
                <!--  and  end_date between #{params.beginDate} and #{params.endDate}  -->
                and ci.end_date = #{params.endDate}
            </if>
            <if test="params.followUp != null and params.followUp.trim() != ''">
                and ci.follow_up like CONCAT('%','${params.followUp}','%' )
            </if>
            <if test="params.client != null and params.client.trim() != ''">
                and ci.client like CONCAT('%','${params.client}','%' )
            </if>
            <if test="params.remark != null and params.remark.trim() != ''">
                and ci.remark = #{params.remark}
            </if>
            <if test="params.createTime != null">
                <!--  and  create_time between #{params.beginDate} and #{params.endDate}  -->
                and ci.create_time = #{params.createTime}
            </if>
            <if test="params.updateTime != null">
                <!--  and  update_time between #{params.beginDate} and #{params.endDate}  -->
                and ci.update_time = #{params.updateTime}
            </if>
            <if test="params.createUser != null">
                and ci.create_user = #{params.createUser}
            </if>
            <if test="params.updateUser != null">
                and ci.update_user = #{params.updateUser}
            </if>
            <if test="params.status != null">
                and ci.status = #{params.status}
            </if>
            <if test="params.deleted != null">
                and ci.deleted = #{params.deleted}
            </if>
            <if test="params.contractStatus != null">
                and ci.contract_status = #{params.contractStatus}
            </if>
            <if test="params.auditStatus != null">
                and ci.audit_status = #{params.auditStatus}
            </if>
        </if>
    </sql>
</mapper>
