<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cuiot.dmp.lease.mapper.TbContractBindInfoMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.cuiot.dmp.lease.entity.TbContractBindInfoEntity">
        <result column="intention_id" property="intentionId"/>
        <result column="bind_id" property="bindId"/>
        <result column="type" property="type"/>
    </resultMap>

    <select id="list" resultMap="BaseResultMap" parameterType="cn.cuiot.dmp.lease.entity.TbContractBindInfoEntity">
        select
        <include refid="Base_Column_List"/>
        from tb_contract_bind_info
        <where>
            <include refid="dynamic_where"/>
        </where>
    </select>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        intention_id, bind_id, type
    </sql>

    <sql id="dynamic_where">
        <if test="params!=null">
            <if test=" params.intentionId != null">
                and intention_id = #{params.intentionId}
            </if>
            <if test=" params.bindId != null">
                and bind_id = #{params.bindId}
            </if>
            <if test=" params.type != null">
                and type = #{params.type}
            </if>
        </if>
    </sql>

    <select id="queryMoneyInfoByIntentionId"
            resultMap="cn.cuiot.dmp.lease.mapper.TbContractIntentionMoneyMapper.BaseResultMap">
        select m.*
        from tb_contract_intention_money m
                     left join tb_contract_bind_info b
                on b.bind_id = m.id
        where b.type = 2
          and b.intention_id = #{id}
    </select>

    <select id="queryConctactStatusByHouseIds"
            resultType="cn.cuiot.dmp.base.infrastructure.dto.contract.ContractStatus">
        select bind_id houseId, begin_date, end_date, contract_status, type
        from tb_contract_bind_info b
                     left join tb_contract_intention i on b.intention_id = i.id
        where b.type = 1
          and contract_status in (12, 13, 14, 16, 17, 18)
          and current_date <![CDATA[<]]> end_date
            <if test="ids!=null and ids.size()>0">
                and b.bind_id in
                <foreach collection="ids" item="id" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        union
        select bind_id houseId, begin_date, end_date, contract_status, type
        from tb_contract_bind_info b
                     left join tb_contract_intention i on b.intention_id = i.id
        where b.type = 3
          and contract_status in (12, 13, 14, 22, 23, 24, 26)
          and current_date <![CDATA[<]]> end_date
        <if test="ids!=null and ids.size()>0">
            and b.bind_id in
            <foreach collection="ids" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
    </select>

    <select id="queryContractIdsByHouseName" resultType="Long">
        select distinct b.intention_id
        from tb_contract_bind_info b left join tb_houses_archives h on b.bind_id=h.id
        <where>
            <if test="name != null and name !=''">
                and h.name like CONCAT('%','${name}','%' )
            </if>
        </where>
    </select>
</mapper>
