<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cuiot.dmp.pay.service.service.mapper.TbOrderSettlementMapper">
  <resultMap id="BaseResultMap" type="cn.cuiot.dmp.pay.service.service.entity.TbOrderSettlement">
    <!--@mbg.generated-->
    <!--@Table tb_order_settlement-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="receivable_id" jdbcType="BIGINT" property="receivableId" />
    <result column="paid_up_id" jdbcType="BIGINT" property="paidUpId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="house_id" jdbcType="BIGINT" property="houseId" />
    <result column="company_id" jdbcType="BIGINT" property="companyId" />
    <result column="payment_mode" jdbcType="TINYINT" property="paymentMode" />
    <result column="transaction_no" jdbcType="VARCHAR" property="transactionNo" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="income_type" jdbcType="TINYINT" property="incomeType" />
    <result column="charge_item_id" jdbcType="BIGINT" property="chargeItemId" />
    <result column="expenditure_type" jdbcType="TINYINT" property="expenditureType" />
    <result column="transaction_mode" jdbcType="BIGINT" property="transactionMode" />
    <result column="pay_amount" jdbcType="INTEGER" property="payAmount" />
    <result column="settlement_time" jdbcType="TIMESTAMP" property="settlementTime" />
    <result column="loupan_id" jdbcType="BIGINT" property="loupanId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, receivable_id, paid_up_id, create_time, house_id, company_id, payment_mode, transaction_no, 
    order_id, income_type, charge_item_id, expenditure_type, transaction_mode, pay_amount, 
    settlement_time, loupan_id
  </sql>

<!--auto generated by MybatisCodeHelper on 2024-10-11-->
  <insert id="insertList">
    INSERT INTO tb_order_settlement(
    id,
    receivable_id,
    paid_up_id,
    create_time,
    house_id,
    company_id,
    payment_mode,
    transaction_no,
    order_id,
    income_type,
    charge_item_id,
    expenditure_type,
    transaction_mode,
    pay_amount,
    settlement_time,
    loupan_id
    )VALUES
    <foreach collection="list" item="element" index="index" separator=",">
      (
      #{element.id,jdbcType=BIGINT},
      #{element.receivableId,jdbcType=BIGINT},
      #{element.paidUpId,jdbcType=BIGINT},
      #{element.createTime,jdbcType=TIMESTAMP},
      #{element.houseId,jdbcType=BIGINT},
      #{element.companyId,jdbcType=BIGINT},
      #{element.paymentMode,jdbcType=TINYINT},
      #{element.transactionNo,jdbcType=VARCHAR},
      #{element.orderId,jdbcType=BIGINT},
      #{element.incomeType,jdbcType=TINYINT},
      #{element.chargeItemId,jdbcType=BIGINT},
      #{element.expenditureType,jdbcType=TINYINT},
      #{element.transactionMode,jdbcType=BIGINT},
      #{element.payAmount,jdbcType=INTEGER},
      #{element.settlementTime,jdbcType=TIMESTAMP},
      #{element.loupanId,jdbcType=BIGINT}
      )
    </foreach>
  </insert>
</mapper>