<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cuiot.dmp.externalapi.service.mapper.gw.GwEntranceGuardOperationRecordMapper">
  <resultMap id="BaseResultMap" type="cn.cuiot.dmp.externalapi.service.entity.gw.GwEntranceGuardOperationRecordEntity">
    <!--@mbg.generated-->
    <!--@Table tb_gw_entrance_guard_operation_record-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="execution_status" jdbcType="BOOLEAN" property="executionStatus" />
    <result column="entrance_guard_id" jdbcType="BIGINT" property="entranceGuardId" />
    <result column="device_secret" jdbcType="VARCHAR" property="deviceSecret" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="BIGINT" property="updateUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="BIGINT" property="createUser" />
    <result column="deleted" jdbcType="BOOLEAN" property="deleted" />
    <result column="type" jdbcType="BOOLEAN" property="type" />
    <result column="company_id" jdbcType="BIGINT" property="companyId" />
    <result column="fail_msg" jdbcType="VARCHAR" property="failMsg" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, execution_status, entrance_guard_id, device_secret, update_time, update_user, 
    create_time, create_user, deleted, type, company_id, fail_msg
  </sql>

    <select id="queryForPage" parameterType="cn.cuiot.dmp.externalapi.service.query.gw.GwEntranceGuardOperationQuery"
            resultType="cn.cuiot.dmp.externalapi.service.vo.gw.GwEntranceGuardOperationPageVO">
        SELECT
            @rownum := @rownum + 1 AS sort,
            id,
            execution_status AS executionStatus,
            create_time AS operationTime,
            device_secret AS deviceSecret,
            create_user AS operatorId
        FROM
            (
                SELECT
                    id, execution_status, create_time, device_secret, create_user
                FROM
                    tb_gw_entrance_guard_operation_record
                WHERE
                    deleted = 0
                    AND company_id = #{query.companyId}
                    AND entrance_guard_id = #{query.entranceGuardId}
                <if test="query.executionStatus != null">
                    AND execution_status = #{query.executionStatus}
                </if>
                <if test="query.operationBeginDate != null and query.operationEndDate != null">
                    AND ( create_time <![CDATA[>=]]> #{query.operationBeginDate} AND create_time <![CDATA[<=]]> #{query.operationEndDate,jdbcType=DATE} )
                </if>
                ORDER BY
                    create_time DESC
            ) AS sorted_records,
            ( SELECT @rownum := 0 ) AS rn
    </select>
</mapper>