<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cuiot.dmp.digitaltwin.service.mapper.GwFirefightDeviceArchitecturalMapper">

    <delete id="deleteByParentId">
        DELETE FROM tb_gw_firefight_device_architectural WHERE parent_id = #{parentId}
    </delete>
</mapper>