<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cuiot.dmp.externalapi.service.mapper.gw.entranceguard.GwEntranceGuardAuthorizeMapper">
  <resultMap id="BaseResultMap" type="cn.cuiot.dmp.externalapi.service.entity.gw.entranceguard.GwEntranceGuardAuthorizeEntity">
    <!--@mbg.generated-->
    <!--@Table tb_gw_entrance_guard_authorize-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="company_id" jdbcType="BIGINT" property="companyId" />
    <result column="entrance_guard_id" jdbcType="BIGINT" property="entranceGuardId" />
    <result column="entrance_guard_person_id" jdbcType="BIGINT" property="entranceGuardPersonId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, company_id, entrance_guard_id, entrance_guard_person_id
  </sql>
</mapper>