<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cuiot.dmp.externalapi.service.mapper.gw.entranceguard.GwEntranceGuardParamMapper">
  <resultMap id="BaseResultMap" type="cn.cuiot.dmp.externalapi.service.entity.gw.entranceguard.GwEntranceGuardParamEntity">
    <!--@mbg.generated-->
    <!--@Table tb_gw_entrance_guard_param-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="entrance_guard_id" jdbcType="BIGINT" property="entranceGuardId" />
    <result column="door_open_time" jdbcType="INTEGER" property="doorOpenTime" />
    <result column="data_filter_time" jdbcType="INTEGER" property="dataFilterTime" />
    <result column="lowest_thermal_thresho_id" jdbcType="INTEGER" property="lowestThermalThreshoId" />
    <result column="face_thresho_id_1v1" jdbcType="INTEGER" property="faceThreshoId1v1" />
    <result column="face_thresho_id_1Vn" jdbcType="INTEGER" property="faceThreshoId1vn" />
    <result column="is_open_exceeded_thresho_id" jdbcType="INTEGER" property="isOpenExceededThreshoId" />
    <result column="liveness" jdbcType="INTEGER" property="liveness" />
    <result column="highest_thermal_thresho_id" jdbcType="INTEGER" property="highestThermalThreshoId" />
    <result column="is_open_journey" jdbcType="INTEGER" property="isOpenJourney" />
    <result column="enable_voice" jdbcType="INTEGER" property="enableVoice" />
    <result column="sn" jdbcType="VARCHAR" property="sn" />
    <result column="auth_type" jdbcType="VARCHAR" property="authType" />
    <result column="temperature_model" jdbcType="INTEGER" property="temperatureModel" />
    <result column="light_on" jdbcType="INTEGER" property="lightOn" />
    <result column="images" jdbcType="VARCHAR" property="images"
            typeHandler="cn.cuiot.dmp.base.infrastructure.persistence.handler.JsonTypeHandler"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, entrance_guard_id, door_open_time, data_filter_time, lowest_thermal_thresho_id, 
    face_thresho_id_1v1, face_thresho_id_1Vn, is_open_exceeded_thresho_id, liveness, 
    highest_thermal_thresho_id, is_open_journey, enable_voice, sn, auth_type, temperature_model, 
    light_on, images
  </sql>
</mapper>