<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cuiot.dmp.system.infrastructure.persistence.mapper.BusinessTypeMapper">

    <select id="countFlowConfigByBusinessType" resultType="java.lang.Integer">
        select COUNT(*)
        from tb_flow_config
        where deleted = 0
        and business_type_id = #{businessTypeId}
    </select>

    <select id="countFlowTaskConfigByBusinessType" resultType="java.lang.Integer">
        select COUNT(*)
        from tb_flow_task_config
        where deleted = 0
        and business_type_id = #{businessTypeId}
    </select>

</mapper>