<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cuiot.dmp.system.infrastructure.persistence.mapper.CodeArchivesMapper">
    <insert id="batchSaveCodeArchives" parameterType="java.util.List">
        INSERT INTO tb_code_archives
        (
        id,
        company_id,
        code_type,
        create_user,
        create_time
        )
        values
        <foreach collection="list" separator="," item="item">
            (
            #{item.id},
            #{item.companyId},
            #{item.codeType},
            #{item.createUser},
            now()
            )
        </foreach>
    </insert>

    <select id="queryArchiveNameById" resultType="java.lang.String">
        select
        tba.name
        from
        tb_building_archives tba
        where
        tba.id = #{archiveId}
        union all
        select
        tha.name
        from
        tb_houses_archives tha
        where
        tha.id = #{archiveId}
        union all
        select
        tra.name
        from
        tb_room_archives tra
        where
        tra.id = #{archiveId}
        union all
        select
        tda.device_name as name
        from
        tb_device_archives tda
        where
        tda.id = #{archiveId}
        union all
        select
        tpa.code as name
        from
        tb_parking_archives tpa
        where
        tpa.id = #{archiveId}
    </select>
</mapper>