<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cuiot.dmp.system.infrastructure.persistence.mapper.CodeArchivesMapper">
    <insert id="batchSaveCodeArchives" parameterType="java.util.List">
        INSERT INTO tb_code_archives
        (
        id,
        company_id,
        code_type,
        create_user,
        create_time
        )
        values
        <foreach collection="list" separator="," item="item">
            (
            #{item.id},
            #{item.companyId},
            #{item.codeType},
            #{item.createUser},
            now()
            )
        </foreach>
    </insert>
</mapper>