<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cuiot.dmp.system.infrastructure.persistence.mapper.CommonOptionSettingMapper">

    <insert id="batchSaveCommonOptionSettings" parameterType="java.util.List">
        INSERT INTO common_option_setting
        (
        id,
        `name`,
        common_option_id,
        sort,
        deleted_flag
        )
        values
        <foreach collection="list" separator="," item="item">
            (
            #{item.id},
            #{item.name},
            #{item.commonOptionId},
            #{item.sort},
            0
            )
        </foreach>
    </insert>

    <update id="batchUpdateCommonOptionSettings" parameterType="java.util.List">
        <foreach collection="list" item="item" separator=";" >
            update common_option_setting
            <set>
                <if test="item.name != null and item.name != '' ">
                    `name` = #{item.name},
                </if>
                <if test="item.deletedFlag != null">
                    deleted_flag = #{item.deletedFlag}
                </if>
                <if test="item.sort != null">
                    sort = #{item.sort}
                </if>
            </set>
            where id = #{item.id}
        </foreach>
    </update>

</mapper>