<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cuiot.dmp.system.infrastructure.persistence.mapper.CustomConfigMapper">

    <insert id="batchSaveCustomConfig" parameterType="java.util.List">
        INSERT INTO custom_config
        (
        id,
        name,
        system_option_type,
        created_by,
        created_on
        )
        values
        <foreach collection="list" separator="," item="item">
            (
            #{item.id},
            #{item.name},
            #{item.systemOptionType},
            #{item.createdBy},
            now()
            )
        </foreach>
    </insert>

</mapper>