<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cuiot.dmp.system.infrastructure.persistence.mapper.FormConfigMapper">

    <insert id="batchSaveFormConfig" parameterType="java.util.List">
        INSERT INTO form_config
        (
        id,
        name,
        company_id,
        type_id,
        created_by,
        created_on
        )
        values
        <foreach collection="list" separator="," item="item">
            (
            #{item.id},
            #{item.name},
            #{item.companyId},
            #{item.typeId},
            #{item.createdBy},
            now()
            )
        </foreach>
    </insert>

    <update id="batchUpdateFormConfigById" parameterType="java.util.List">
        update form_config
        <set>
            <if test="status !=null">
                status = #{status},
            </if>
            <if test="typeId !=null">
                type_id = #{typeId}
            </if>
        </set>
        where id in
        <foreach collection="idList" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <update id="batchMoveFormConfigDefault" parameterType="java.util.List">
        update form_config
        set type_id = #{rootTypeId}
        where type_id in
        <foreach collection="typeIdList" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

</mapper>