<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cuiot.dmp.system.infrastructure.persistence.mapper.ListCustomFieldsMapper">
  <resultMap id="BaseResultMap" type="cn.cuiot.dmp.system.infrastructure.entity.ListCustomFieldsEntity">
    <!--@mbg.generated-->
    <!--@Table tb_list_custom_fields-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="company_id" jdbcType="BIGINT" property="companyId" />
    <result column="identification" jdbcType="VARCHAR" property="identification" />
    <result column="fields" jdbcType="VARCHAR" property="fields"
            typeHandler="cn.cuiot.dmp.base.infrastructure.persistence.handler.JsonTypeHandler"/>
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="BIGINT" property="updateUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="BIGINT" property="createUser" />
    <result column="deleted" jdbcType="BOOLEAN" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, company_id, identification, `fields`, update_time, update_user, create_time, 
    create_user, deleted
  </sql>
</mapper>