<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cuiot.dmp.system.infrastructure.persistence.dao.MenuDao">

    <select id="selectMenuListByRoleId" resultType="cn.cuiot.dmp.system.infrastructure.entity.MenuEntity">
        SELECT
        m.id,
        m.menu_name,
        m.menu_url,
        m.component_uri,
        m.api_url,
        m.icon,
        m.menu_type,
        m.permission_code,
        m.parent_id,
        m.sort,
        m.hidden,
        m.description,
        m.external_link
        catalog
        FROM menu m, menu_role o
        <where>
            m.id = o.pk_menu_id
            and o.pk_role_id = #{roleId}
            and m.`status`=1
        </where>
        order by m.sort desc
    </select>

    <select id="getAllRoleMenu" resultType="cn.cuiot.dmp.system.infrastructure.entity.MenuEntity">
        select
            m.*
        from menu m
        left join menu_role mr
        on m.id = mr.pk_menu_id
        where m.id = mr.pk_menu_id
        and mr.pk_role_id = #{roleId}
        and `status`=1
        order by m.sort
    </select>

    <select id="selectMenu" resultType="cn.cuiot.dmp.system.infrastructure.entity.MenuEntity">
        select * from `menu` where menu_name like CONCAT('%',#{menuName},'%')
    </select>

    <insert id="insertMenu"  parameterType="cn.cuiot.dmp.system.infrastructure.entity.MenuEntity">
        insert into menu
        (
            id,
            menu_name,
            menu_url,
            component_uri,
            api_url,
            icon,
            menu_type,
            permission_code,
            parent_id,
            description,
            external_link,
            sort,
            hidden,
            `status`,
            created_on,
            created_by,
            updated_on,
            updated_by
        )
        values
        (
            #{id},
            #{menuName},
            #{menuUrl},
            #{componentUri},
            #{apiUrl},
            #{icon},
            #{menuType},
            #{permissionCode},
            #{parentId},
            #{description},
            #{externalLink},
            #{sort},
            #{hidden},
            #{status},
            #{createdOn},
            #{createdBy},
            #{updatedOn},
            #{updatedBy}
        )
    </insert>

    <update id="updateMenu" parameterType="cn.cuiot.dmp.system.infrastructure.entity.MenuEntity">
        update menu
        set
            menu_name=#{menuName},
            menu_url=#{menuUrl},
            component_uri=#{componentUri},
            api_url=#{apiUrl},
            icon=#{icon},
            menu_type=#{menuType},
            permission_code=#{permissionCode},
            parent_id=#{parentId},
            description=#{description},
            external_link=#{externalLink},
            sort=#{sort},
            hidden=#{hidden},
            `status`=#{status},
            updated_on= #{updatedOn},
            updated_by=#{updatedBy}
    </update>

    <delete id="deleteMenuById">
        delete from menu where id = #{id}
    </delete>

    <select id="getMenuIdByParentId" resultType="java.lang.Long">
        select id from menu where parent_id = #{parentId} order by sort asc
    </select>

    <select id="lookUpPermission" resultType="cn.cuiot.dmp.system.infrastructure.entity.MenuEntity">
        SELECT *
        FROM menu m, menu_role o, user_role ur
        <where>
            m.id = o.pk_menu_id
            and ur.pk_role_id = o.pk_role_id
            and ur.pk_user_id = #{userId}
            and ur.pk_org_id = #{orgId}
            and m.permission_code = #{permissionCode}
        </where>
        limit 1
    </select>

    <select id="getMenuByOrgTypeId"
            resultType="cn.cuiot.dmp.system.infrastructure.entity.dto.MenuByOrgTypeIdResDto">
        SELECT
            omr.menu_id menuId,
            m.menu_name menuName
        FROM org_type_menu omr
        JOIN menu m ON m.id = omr.menu_id
        WHERE
            omr.org_type_id = #{orgTypeId}
            and m.`status`=1
    </select>

    <select id="queryForList"
            resultType="cn.cuiot.dmp.system.infrastructure.entity.MenuEntity">
        select
            m.*
        from menu m
        <where>
            <if test="param.menuName != null and param.menuName != ''">
                AND m.menu_name like concat('%', #{param.menuName}, '%')
            </if>
            <if test="param.status != null">
                AND m.`status`= #{param.status}
            </if>
        </where>
        order by m.sort asc
    </select>

    <select id="selectChildList"
            resultType="cn.cuiot.dmp.system.infrastructure.entity.MenuEntity">
        select
        m.*
        from menu m
        where m.parent_id=#{parentId}
        order by m.sort asc
    </select>

    <select id="getById" resultType="cn.cuiot.dmp.system.infrastructure.entity.MenuEntity">
         select
        m.*
        from menu m
        where m.id=#{id}
    </select>

</mapper>
