<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cuiot.dmp.system.infrastructure.persistence.dao.SensitiveDao">
    <select id="searchSensitiveWord" resultType="cn.cuiot.dmp.system.infrastructure.entity.SensitivityEntity">
        select sensitive_word from `sensitivity` order by id
    </select>
    <cache></cache>
</mapper>