<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cuiot.dmp.system.infrastructure.persistence.dao.SpaceDao">


    <sql id="system_has_child">
        CASE
                WHEN ( (SELECT 1 FROM department d1 WHERE parent_id = d0.id LIMIT 1) IS NOT NULL
                or (
                (SELECT
                    1
                FROM
                    department d2 left join organization o on o.id = d2.pk_org_id
                WHERE
                    ( d2.parent_id IS NULL AND d2.path LIKE concat(d0.path, '%') )
                    AND d2.d_group = '2'
                    AND o.org_type_id = '12' limit 1)  ) is not null
        )
            THEN '1' ELSE '0' END AS has_child
    </sql>

    <select id="getRootDepartmentLazy" resultType="cn.cuiot.dmp.system.infrastructure.entity.dto.GetDepartmentTreeLazyResDto">
        SELECT
            id,
            d_group,
            department_name,
            parent_id,
            pk_org_id,
            level,
            path,
            CASE WHEN
                     (
                         SELECT
                             1
                         FROM
                             department d1
                         WHERE
                                 pk_org_id = #{orgId}
                           AND
                                 parent_id = d0.id
                            and d_group in (1,2,3)
                        LIMIT 1
                         )
        IS NOT NULL OR
        (
        SELECT
        1
        FROM
        user_grant
        WHERE
        to_org_id  = #{orgId}
              AND
                to_dept_id = d0.id
                LIMIT 1
                )
                IS NOT NULL
                THEN
                '1'
                ELSE
                '0'
        END
        AS has_child
        FROM
        department d0
        WHERE
        d0.id = #{id}
    </select>

    <select id="getUserDepartmentLazy" resultType="cn.cuiot.dmp.system.infrastructure.entity.dto.GetDepartmentTreeLazyResDto">
        SELECT
            id,
            d_group,
            department_name,
            parent_id,
            pk_org_id,
            level,
            path,
            CASE
                WHEN ( SELECT 1 FROM department d1 WHERE parent_id = d0.id and d1.d_group in (1,2) LIMIT 1) IS NOT NULL
                THEN '1' ELSE '0' END AS has_child
            FROM
            department d0
        WHERE
            d0.d_group in
        <foreach collection="dGroupList" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
            and d0.parent_id = #{parentId}
    </select>

    <select id="getDepartmentByNameAndPathAndDepartmentGroup" resultType="cn.cuiot.dmp.system.infrastructure.entity.dto.GetDepartmentTreeLazyByNameResDto">
        SELECT
            d0.id,
            d0.d_group,
            d0.department_name,
            d0.parent_id,
            d0.pk_org_id,
            d0.level,
            d0.path,
        CASE
            WHEN ( SELECT 1 FROM department d1 WHERE parent_id = d0.id LIMIT 1 ) IS NOT NULL THEN
            '1' ELSE '0'
            END AS has_child
        FROM
            department d0
        WHERE
            d0.d_group IN
            <foreach collection="dGroupList" item="item" separator="," open="(" close=")">
            #{item}
            </foreach>
            AND d0.path LIKE CONCAT(#{path}, '%')
            AND d0.department_name LIKE CONCAT('%',#{departmentName}, '%')
    </select>

    <select id="getChildDepartmentListByParentId" resultType="cn.cuiot.dmp.system.infrastructure.entity.dto.GetDepartmentTreeLazyByNameResDto">
        SELECT
            d0.id,
            d0.d_group,
            d0.department_name,
            d0.parent_id,
            d0.pk_org_id,
            d0.level,
            d0.path,
            CASE

                WHEN ( SELECT 1 FROM department d1 WHERE parent_id = d0.id LIMIT 1 ) IS NOT NULL THEN
		'1' ELSE '0'
        END AS has_child
        FROM
	        department d0
        WHERE
	        d0.parent_id = #{parentId}
    </select>

    <select id="getParentDepartmentByParentId" resultType="cn.cuiot.dmp.system.infrastructure.entity.dto.GetDepartmentTreeLazyByNameResDto">
        SELECT
            d0.id,
            d0.d_group,
            d0.department_name,
            d0.parent_id,
            d0.pk_org_id,
            d0.level,
            d0.path,
            CASE

                WHEN ( SELECT 1 FROM department d1 WHERE parent_id = d0.id LIMIT 1 ) IS NOT NULL THEN
		'1' ELSE '0'
        END AS has_child
        FROM
	        department d0
        WHERE
	        d0.parent_id in (
            select
                parent_id
            from
                department
            where
                id = #{parentId}
            )
    </select>

    <select id="getDeptListByPathAndGroupFactoryPark"
            resultType="cn.cuiot.dmp.system.infrastructure.entity.dto.FactoryParkParkListResDto">
        SELECT
        d.id parkId,
        d.d_group,
        d.department_name parkName,
        d.parent_id,
        d.pk_org_id org_id,
        d.CODE parkCode,
        d.path deptTreePath,
        d.description description,
        d.sort,
        d.created_on createTime,
        d.created_by,
        (SELECT department_name from department where id = d.parent_id) as deptName,
        (SELECT val from department_property where dept_id = d.id and property_key = 'park_type' limit 1) as parkType
        FROM department d LEFT JOIN org_label ol on d.pk_org_id = ol.org_id
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="deptTreePath != null and deptTreePath !='' ">
                AND d.parent_id = (SELECT id from department where path = #{deptTreePath} limit 1)
            </if>
            <if test="keyword != null and keyword !='' ">
                AND d.department_name like concat('%', #{keyword}, '%')
            </if>
            <if test="startTime != null and endTime != null ">
                AND d.created_on BETWEEN #{startTime} and #{endTime}
            </if>
            <if test="labelId != null">
                AND ol.label_id = #{labelId}
            </if>
            <if test="parkType !=null and parkType != ''">
                and (SELECT val from department_property where dept_id = d.id and property_key = 'park_type' and val = #{parkType} limit 1) is not null
            </if>
            and d.d_group = #{group}
        </trim>
        order by d.id desc
    </select>

    <select id="getDeptListByPathAndGroupFloor"
            resultType="cn.cuiot.dmp.base.infrastructure.dto.DepartmentDto">
        SELECT
            d.id,
            d_group,
            department_name name,
            parent_id,
            pk_org_id org_id,
            code,
            path,
            description,
            sort,
            created_on,
            created_by
        FROM department d LEFT JOIN org_label ol on d.pk_org_id = ol.org_id
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="path != null and path !='' ">
                AND path like concat('%', #{path}, '%')
            </if>
            <if test="floorName != null and floorName !='' ">
                AND department_name like concat('%', #{floorName}, '%')
            </if>
            <if test="labelId != null">
                AND ol.label_id = #{labelId}
            </if>
            and d_group = #{group}
        </trim>
        order by created_on desc,id desc
    </select>

    <select id="getDeptListByPathAndGroupRegion" resultType="cn.cuiot.dmp.system.infrastructure.entity.dto.RegionListResDto">
        SELECT
            d.id regionId,
            d.d_group,
            d.department_name regionName,
            d.parent_id,
            d.pk_org_id org_id,
            d.CODE regionCode,
            d.path deptTreePath,
            d.description description,
            d.sort,
            d.created_on createTime,
            d.created_by,
        (SELECT department_name from department where id = d.parent_id) as parkName,
        (SELECT val from department_property where dept_id = d.id and property_key = 'region_type' limit 1) as regionType,
        (SELECT val from department_property where dept_id = d.id and property_key = 'other_region_type_name' limit 1) as otherRegionTypeName
        FROM department d LEFT JOIN org_label ol on d.pk_org_id = ol.org_id
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="deptTreePath != null and deptTreePath !='' ">
                AND d.path like concat(#{deptTreePath}, '%')
            </if>
            <if test="parentId != null">
                AND d.parent_id = #{parentId}
            </if>
            <if test="keyword != null and keyword !='' ">
                AND department_name like concat('%', #{keyword}, '%')
            </if>
            <if test="startTime != null and endTime != null ">
                AND d.created_on BETWEEN #{startTime} and #{endTime}
            </if>
            <if test="labelId != null">
                AND ol.label_id = #{labelId}
            </if>
            and d.d_group = #{group}
        </trim>
        order by d.id desc
    </select>

    <select id="getDeptListByPathAndGroupFactoryBuilding"
            resultType="cn.cuiot.dmp.system.infrastructure.entity.dto.FactoryParkBuildingListResDto">
        SELECT
        d.id buildingId,
        d.d_group,
        d.department_name buildingName,
        d.parent_id,
        d.pk_org_id org_id,
        d.CODE parkCode,
        d.path deptTreePath,
        d.description description,
        d.sort,
        d.created_on createTime,
        d.created_by,
        (SELECT department_name from department where id = d.parent_id) as regionName,
        (select department_name from department where id = (SELECT parent_id from department where id = d.parent_id)) as parkName
        FROM department d LEFT JOIN org_label ol on d.pk_org_id = ol.org_id
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="deptTreePath != null and deptTreePath !='' ">
                AND d.path like concat(#{deptTreePath}, '%')
            </if>
            <if test="parentId != null">
                AND d.parent_id = #{parentId}
            </if>
            <if test="keyword != null and keyword !='' ">
                AND d.department_name like concat('%', #{keyword}, '%')
            </if>
            <if test="startTime != null and endTime != null ">
                AND d.created_on BETWEEN #{startTime} and #{endTime}
            </if>
            <if test="labelId != null">
                AND ol.label_id = #{labelId}
            </if>
            and d.d_group = #{group}
        </trim>
        order by d.id desc
    </select>

    <select id="getParkDetail" resultType="cn.cuiot.dmp.system.infrastructure.entity.dto.ParkListResDto">
        SELECT
            d.id parkId,
            d.d_group,
            d.department_name parkName,
            d.parent_id deptId,
            d.pk_org_id org_id,
            d.CODE parkCode,
            d.path,
            d.description description,
            d.sort,
            d.created_on createTime,
            d.created_by,
            (SELECT department_name from department where id = d.parent_id) as deptName,
            (SELECT path from department where id = d.parent_id) as deptTreePath,
            (SELECT val from department_property where dept_id = d.id and property_key = 'park_type' limit 1) as parkType,
            (SELECT val from department_property where dept_id = d.id and property_key = 'community_area_code' limit 1) as areaCode,
            (SELECT val from department_property where dept_id = d.id and property_key = 'address' limit 1) as address,
            (SELECT val from department_property where dept_id = d.id and property_key = 'other_park_type_name' limit 1) as otherParkTypeName,
            (SELECT val from department_property where dept_id = d.id and property_key = 'longitude' limit 1) as longitude,
            (SELECT val from department_property where dept_id = d.id and property_key = 'latitude' limit 1) as latitude
        FROM department d
        where d.path like concat(#{path}, '%') and id = #{deptId}
    </select>

    <select id="getRegionDetail" resultType="cn.cuiot.dmp.system.infrastructure.entity.dto.RegionListResDto">
        SELECT
            d.id regionId,
            d.d_group,
            d.department_name regionName,
            d.parent_id parkId,
            d.pk_org_id org_id,
            d.CODE regionCode,
            d.path,
            d.description description,
            d.sort,
            d.created_on createTime,
            d.created_by,
            (SELECT parent_id from department where id = d.parent_id) as deptId,
            (SELECT path from department where id = deptId) as deptTreePath,
            (SELECT val from department_property where dept_id = d.id and property_key = 'region_type' limit 1) as regionType,
            (SELECT val from department_property where dept_id = parkId and property_key = 'park_type' limit 1) as parkType,
            (SELECT val from department_property where dept_id = d.id and property_key = 'other_region_type_name' limit 1) as otherRegionTypeName
        FROM department d
        where d.path like concat(#{path}, '%') and id = #{deptId}
    </select>

    <select id="getFactoryBuildingDetail"
            resultType="cn.cuiot.dmp.system.infrastructure.entity.dto.FactoryParkBuildingListResDto">
        SELECT
            d.id buildingId,
            d.d_group,
            d.department_name buildingName,
            d.parent_id regionId,
            d.pk_org_id org_id,
            d.CODE parkCode,
            d.path,
            d.description description,
            d.sort,
            d.created_on createTime,
            d.created_by,
            (SELECT parent_id from department where id = d.parent_id) as parkId,
            (SELECT parent_id from department where id = parkId) as deptId,
            (SELECT path from department where id = deptId) as deptTreePath,
            (SELECT val from department_property where dept_id = d.id and property_key = 'floor_num' limit 1) as buildingFloor
        FROM department d
        where d.path like concat(#{path}, '%') and id = #{deptId}
    </select>

    <select id="getDeptListByPathAndGroupFactoryParkForList"
            resultType="cn.cuiot.dmp.system.infrastructure.entity.dto.FactoryParkParkListResDto">
        SELECT
        d.id parkId,
        d.d_group,
        d.department_name parkName,
        d.parent_id,
        d.pk_org_id org_id,
        d.CODE parkCode,
        d.path,
        d.description description,
        d.sort,
        d.created_on createTime,
        d.created_by,
        (SELECT department_name from department where id = d.parent_id) as deptName,
        (SELECT val from department_property where dept_id = d.id and property_key = 'park_type' limit 1) as parkType
        FROM department d LEFT JOIN org_label ol on d.pk_org_id = ol.org_id
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="deptTreePath != null and deptTreePath !='' ">
                AND d.path like concat(#{deptTreePath}, '%')
            </if>
            <if test="keyword != null and keyword !='' ">
                AND d.department_name like concat('%', #{keyword}, '%')
            </if>
            <if test="startTime != null and endTime != null ">
                AND d.created_on BETWEEN #{startTime} and #{endTime}
            </if>
            <if test="labelId != null">
                AND ol.label_id = #{labelId}
            </if>
            <if test="parkType !=null and parkType != ''">
                and (SELECT val from department_property where dept_id = d.id and property_key = 'park_type' and val = #{parkType} limit 1) is not null
            </if>
            and d.d_group = #{group}
        </trim>
        order by d.id desc
    </select>

    <select id="getUserDepartmentLazyChange" resultType="cn.cuiot.dmp.system.infrastructure.entity.dto.GetDepartmentTreeLazyResDto">
      SELECT
        id,
        d_group,
        department_name,
        parent_id,
        pk_org_id,
        level,
        path,
        CASE
        WHEN ( SELECT 1 FROM department d1 WHERE parent_id = d0.id AND ( d1.d_group = 3  or d1.d_group = 1 or d1.d_group =2)  LIMIT 1 ) IS NOT NULL
        THEN '1' ELSE '0' END AS has_child
      FROM
        department d0
      WHERE
        d0.d_group in
        <foreach collection="dGroupList" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
      and d0.parent_id = #{parentId}
    </select>

    <select id="getMaxUnitByPath" resultType="java.lang.Integer">
       select
              MAX(
                    (
                        case property_key
                        when 'unit_num' then val
                        else''
                        end
                    )
                ) unit_num
        from
        	department_property dp
        	left join department d on dp.dept_id = d.id
        where
        	d.`path` = #{path}
    </select>

</mapper>