<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cuiot.dmp.system.infrastructure.persistence.dao.UserDataDao">

    <select id="searchList" parameterType="java.util.Map" resultType="cn.cuiot.dmp.system.infrastructure.entity.UserDataEntity">
        SELECT u.*,
        uo.pk_org_id,
        d.id as dept_id,
        d.department_name as dept_name,
        d.path_name as dept_path_name,
        r.id as role_id,
        r.role_name,
        r.role_key,
        p.post_name
        FROM user u
        left join user_org uo on uo.pk_user_id = u.id
        left join organization o on uo.pk_org_id = o.id
        left join department d on uo.pk_dept_id = d.id
        left join user_role ur on ur.pk_user_id = u.id
        left join role r on ur.pk_role_id = r.id
        left join tb_sys_post p on p.id = u.post_id
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="userId != null">
                AND u.id = #{userId}
            </if>
            <if test="userIdList != null and userIdList.size() >0">
                AND u.id in
                <foreach collection="userIdList" item="userIdItem" open="(" separator="," close=")">
                    #{userIdItem}
                </foreach>
            </if>
            <if test="userName != null and userName != ''">
                AND u.username like CONCAT('%',#{userName},'%')
            </if>
            <if test="name != null and name != ''">
                AND u.name like CONCAT('%',#{name},'%')
            </if>
            <if test="phone != null and phone != ''">
                AND u.phone_number = #{phone}
            </if>
            <if test="phoneNumber != null and phoneNumber != ''">
                AND u.phone_number = #{phoneNumber}
            </if>
            <if test="status != null">
                AND u.`status`= #{status}
            </if>
            <if test="orgId != null and orgId != -1">
                AND uo.pk_org_id = #{orgId}
            </if>
            <if test="deptIds != null and deptIds.size >0">
                AND uo.pk_dept_id in
                <foreach collection="deptIds" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="path!=null and path != ''">
                AND d.path like concat(#{path}, '%')
            </if>
            <if test="roleIdList != null and roleIdList.size() >0">
                AND r.id in
                <foreach collection="roleIdList" item="roleId" open="(" separator="," close=")">
                    #{roleId}
                </foreach>
            </if>
            AND u.deleted_flag = 0
            AND u.user_type=1
            AND o.deleted_flag=0
        </trim>
        order by u.created_on desc,u.id desc
    </select>

    <select id="searchListByRole" parameterType="java.util.Map" resultType="cn.cuiot.dmp.system.infrastructure.entity.UserDataEntity">
        SELECT ur.pk_org_id,u.*
        FROM user u , user_role ur, role r
        <trim prefix="WHERE" prefixOverrides="AND">
            AND ur.pk_user_id = u.id
            AND ur.pk_role_id = r.id
            <if test="userName != null and userName !=''">
                AND u.username like CONCAT('%',#{userName},'%')
            </if>
            <if test="name != null and name !=''">
                AND u.name like CONCAT('%',#{name},'%')
            </if>
            <if test="phone != null and phone !=''">
                AND u.phone_number = #{phone}
            </if>
            <if test="phoneNumber != null and phoneNumber != ''">
                AND u.phone_number = #{phoneNumber}
            </if>
            <if test="status != null">
                AND u.`status`= #{status}
            </if>
            <if test="orgId != null and orgId != -1">
                AND ur.pk_org_id = #{orgId}
            </if>
            <if test="roleId != null">
                AND ur.pk_role_id = #{roleId}
            </if>
            <if test="roleNameLike != null">
                AND r.role_name like CONCAT('%',#{roleNameLike},'%')
            </if>
            and u.deleted_flag = 0
        </trim>
        order by u.created_on desc,u.id desc
    </select>

    <delete id="deleteUserOrgByUserPks" parameterType="java.util.List">
        delete from user_org
        WHERE pk_user_id IN
        <foreach collection="ids" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        and pk_org_id = #{orgId}
    </delete>

    <delete id="deleteUserRoleByUserPks" parameterType="java.util.List">
        delete from user_role
        WHERE pk_user_id IN
        <foreach collection="ids" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        and pk_org_id = #{orgId}
    </delete>

    <select id="countUserOrgByDeptId" resultType="java.lang.Integer">
        select COUNT(0)
        from user_org
        where pk_dept_id = #{deptId}
    </select>

    <resultMap id="labelTypeMap" type="cn.cuiot.dmp.system.infrastructure.entity.dto.LabelTypeDto">
        <result column="id" property="id" />
        <result column="label_name" property="labelName" />
        <result column="label_type" property="labelType" />
    </resultMap>

    <select id="getLabelTypeList" resultMap="labelTypeMap">
        select
            *
        from
            label_type
        where label_type =#{labelType}
    </select>

    <insert id="insertUserLabel" parameterType="cn.cuiot.dmp.system.infrastructure.entity.dto.UserLabelDto">
        INSERT INTO user_label
        (id,
          user_id,
         label_id,
         label_name,
         create_by,
         create_time
        )
        values (#{id},
                #{userId},
                #{labelId},
                #{labelName},
                #{createdBy},
                #{createTime})
    </insert>

    <select id="selectLabelIdByName" resultType="integer">
        SELECT id
        FROM label_type
        WHERE label_name = #{labelName}
        and label_type=0
    </select>

    <select id="selectLabelNameByOrgId" resultType="String">
        SELECT label_name
        FROM label_type
        WHERE id = #{labelId}
    </select>

    <select id="checkUserInDeptId" resultType="java.lang.String">
        SELECT
            1
        FROM
            user u
                LEFT JOIN user_org uo ON uo.pk_user_id = u.id
                LEFT JOIN department d ON d.id = uo.pk_dept_id
        where u.deleted_flag = 0
          and d.path like (select CONCAT(path,'%') from department where id = #{id})
            limit 1
    </select>

    <select id="getDepartmentUser" resultType="cn.cuiot.dmp.system.application.param.dto.DepartmentUserDto">
        select
            u.username ,
            d.`path`
        from
            user u
                left join user_org uo on
                u.id = uo.pk_user_id
                left join department d on
                d.id = uo.pk_dept_id
        where
            uo.pk_org_id = #{orgId}
          and
            u.deleted_flag = 0
          and user_type = 1
          and d.`path` LIKE concat(#{path}, '%')
    </select>
</mapper>
