<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cuiot.dmp.system.infrastructure.persistence.mapper.UserHouseAuditMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.cuiot.dmp.system.infrastructure.entity.UserHouseAuditEntity">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="company_id" property="companyId" />
        <result column="building_id" property="buildingId" />
        <result column="house_id" property="houseId" />
        <result column="identity_type" property="identityType" />
        <result column="name" property="name" />
        <result column="phone_number" property="phoneNumber" />
        <result column="card_type_id" property="cardTypeId" />
        <result column="identity_num" property="identityNum" />
        <result column="remark" property="remark" />
        <result column="remark_images" jdbcType="VARCHAR" property="remarkImages" typeHandler="cn.cuiot.dmp.base.infrastructure.persistence.handler.JsonTypeHandler" />
        <result column="audit_status" property="auditStatus" />
        <result column="reject_reason" property="rejectReason" />
        <result column="bind_customer_id" property="bindCustomerId" />
        <result column="bind_customer_type" property="bindCustomerType" />
        <result column="bind_customer_member_id" property="bindCustomerMemberId" />
        <result column="created_on" property="createdOn" />
        <result column="created_by" property="createdBy" />
        <result column="created_by_type" property="createdByType" />
        <result column="updated_on" property="updatedOn" />
        <result column="updated_by" property="updatedBy" />
        <result column="updated_by_type" property="updatedByType" />
        <result column="deleted_flag" property="deletedFlag" />
        <result column="deleted_on" property="deletedOn" />
        <result column="deleted_by" property="deletedBy" />
        <result column="delete_by_type" property="deleteByType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, company_id, building_id, house_id, identity_type, name, phone_number, card_type_id, identity_num, remark, remark_images, audit_status, reject_reason, bind_customer_id, bind_customer_type, bind_customer_member_id, created_on, created_by, created_by_type, updated_on, updated_by, updated_by_type, deleted_flag, deleted_on, deleted_by, delete_by_type
    </sql>

    <resultMap id="DtoResultMap" extends="BaseResultMap" type="cn.cuiot.dmp.system.application.param.dto.UserHouseAuditDTO">
        <result column="building_name" property="buildingName" />
        <result column="department_id" property="departmentId" />
        <result column="department_name" property="departmentName" />
        <result column="house_code" property="houseCode" />
    </resultMap>

    <select id="queryForList" resultMap="DtoResultMap">
        SELECT
            a.*,
            b.`name` as building_name,
            b.department_id as department_id,
            c.department_name as department_name,
            d.`code` as house_code
        FROM
            user_house_audit AS a,
            tb_building_archives AS b,
            department AS c,
            tb_houses_archives as d
       <where>
           a.building_id = b.id
           AND b.department_id = c.id
           and a.house_id=d.id
           <if test="param.beginTime !=null">
               and a.created_on <![CDATA[>=]]> #{param.beginTime}
           </if>
           <if test="param.endTime !=null">
               and a.created_on <![CDATA[<=]]> #{param.endTime}
           </if>
           <if test="param.companyId !=null">
               and a.company_id=#{param.companyId}
           </if>
           <if test="param.name !=null and param.name !=''">
               and a.`name` like concat('%',#{param.name},'%')
           </if>
           <if test="param.phoneNumber !=null and param.phoneNumber !=''">
               and a.phone_number=#{param.phoneNumber}
           </if>
           <if test="param.auditStatus !=null">
               and a.audit_status=#{param.auditStatus}
           </if>
           <if test="param.userId !=null">
               and a.user_id=#{param.userId}
           </if>
           <if test="param.buildingId !=null">
               and a.building_id=#{param.buildingId}
           </if>
           AND a.deleted_flag = 0
           AND b.deleted = 0
       </where>
        ORDER BY
            a.created_on DESC,
            a.id DESC
    </select>

    <select id="queryForDetail"  resultMap="DtoResultMap">
        SELECT
        a.*,
        b.`name` as building_name,
        b.department_id as department_id,
        c.department_name as department_name,
        d.`code` as house_code
        FROM
        user_house_audit AS a,
        tb_building_archives AS b,
        department AS c,
        tb_houses_archives as d
        where
            a.building_id = b.id
            AND b.department_id = c.id
            and a.house_id=d.id
            and a.id=#{id}
    </select>


</mapper>
