<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cuiot.dmp.video.service.mapper.VideoAIAlarmMapper">

    <select id="queryVideoAIList" resultType="cn.cuiot.dmp.video.service.entity.vo.VideoScreenVo">
        SELECT
            id,
            method_name methodName,
            analysis_time analysisTime,
            image
        FROM
            tb_video_ai_alarm
        WHERE
            deleted = 0
            AND device_id = #{params.deviceId}
            AND analysis_date BETWEEN #{params.beginDate} AND #{params.endDate}
        ORDER BY
            analysis_time DESC
    </select>
</mapper>