<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cuiot.dmp.externalapi.service.mapper.park.PortraitInputMapper">


    <select id="queryPlatfromInfo" resultType="String">
        select  data from tb_platfrom_info where company_id= #{companyId} and platform_id = #{platformId}
    </select>

    <select id="queryPortraitInputInfo" resultType="cn.cuiot.dmp.externalapi.service.vo.park.PortraitInputVo">
        select id, url,phone,card_no,id_card_no,password,tag,create_user,name,create_time from tb_portrait_input where create_user = #{query.createUser}  order by create_time desc
    </select>

    <!-- 查询人像信息分页 -->
    <select id="queryPortraitInputPage" parameterType="cn.cuiot.dmp.externalapi.service.query.PortraitInputDTO"
            resultType="cn.cuiot.dmp.externalapi.service.vo.park.PortraitInputVo">
        SELECT
        tpi.id,
        tpi.url,
        CONCAT(LEFT(tpi.phone,3),'****',RIGHT(tpi.phone,4)) AS phone,
        tpi.card_no,
        CONCAT(LEFT(tpi.id_card_no,3),'***********',RIGHT(tpi.id_card_no,4)) AS idCardNo,
        tpi.password,
        tpi.tag,
        tpi.create_user,
        tpi.name,
        tpi.create_time,
        tpi.person_group_id,
        u.name AS createUserName
        FROM tb_portrait_input tpi LEFT JOIN `user` u ON tpi.create_user = u.id
        <where>
            <if test="params != null">
                <if test=" params.companyId != null">
                    AND tpi.create_user IN (SELECT pk_user_id FROM `user_org` WHERE pk_org_id = #{params.companyId})
                </if>
                <if test=" params.name != null and params.name.trim() != ''">
                    AND tpi.name LIKE CONCAT('%',#{params.name},'%')
                </if>
                <if test="params.personGroupId != null">
                    AND tpi.person_group_id  = #{params.personGroupId}
                </if>
                <if test="params.authorize != null and params.authorize ==0">
                    AND tpi.portrait_access is null
                </if>
                <if test="params.authorize != null and params.authorize ==1">
                    AND tpi.portrait_access is not null
                </if>
                <if test=" params.createUserName != null and params.createUserName.trim() != ''">
                    AND u.name LIKE CONCAT('%',#{params.createUserName},'%')
                </if>
            </if>
        </where>
        ORDER BY tpi.create_time DESC
    </select>
</mapper>
